<h1 class="main-title">Editing Trip Plan</h1>

<%= render 'form', trip_plan: @trip_plan %>

<div class="center">
    <%= link_to 'Show', @trip_plan, :class => 'btn btn-info' %> |
    <%= link_to 'Back', trip_plans_path, :class => 'btn btn-secondary' %>
</div>
