<div class="center">
  <p><strong>Title:</strong></p>
  <p><%= @trip_plan.title %></p>

  <p><strong>Summary:</strong></p>
  <p><%= @trip_plan.summary %></p>

  <%= link_to 'Edit', edit_trip_plan_path(@trip_plan), :class => 'btn btn-warning' %> |
  <%= link_to 'Back', trip_plans_path, :class => 'btn btn-secondary' %>
</div>
