<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">My Trip Plan Builder</h1>
    <p class="lead">Or MTPB is a new platform for building trip plans built with ruby on rails.</p>
  </div>
</div>
